html, body {
    /*background:-webkit-linear-gradient(30deg, rgb(128, 16, 38),rgb(112, 55, 28), rgb(35, 59, 129), rgb(8, 109, 47), purple);
    */
    font-size: 10px;
    margin: 0;
    padding: 0;
}
