.botonSalida {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;   
    color: white; 
    background-color: rgb(197, 24, 24);
    border-radius: 10px;
    padding: 4px 8px;
    margin-top: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px black;

    top: 70rem;
    left: 19rem;
    
}

@media (max-width: 450px) {

    .botonSalida {

        font-size: 3rem;
        top: 48rem;
        left: 3.7rem;
    }
}