.grid-tareas{
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: 15px 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 450px) {
    
    .grid-tareas {
        margin-top: 4rem;
        grid-template-columns: repeat(auto-fill, 100px);
    }
  }